.about-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title {
    margin: 35px 0 35px 0;
    font-family: 'Barlow', sans-serif;
    color: black;
    font-size: 180%;
}

.about-text {
    margin: 35px 0 35px 0;
    font-family: 'Barlow', sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
    color: black;
    max-width: 700px;
    text-align: center;
}

.about-text > b{
    color: #0a275c;
}