section#page-background {

    height: 100vh;
    width: 100%;
    min-height: 400px;
    display: table;
    background-size: cover;
    background-image: url('../assets/ESnflJn.jpg');
}

.navbar {
    transition: background 250ms ease-in;
}

.nav-scrolled {
    background: #f4f4f4;    
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
}

.nav-item > a {
    margin-left: 8px;
}

