.page-background {
    height: 100vh;
    width: 100%;
    /* min-height: 400px; */
    display: table;
    background-size: cover;
    background-image: url('../assets/min3.jpg');
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head-1 {
    margin-top: -80px;
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 350%;
    opacity: 0;
    transition: all 0.7s ease;
    transform: translateY(-50px);
}

.head-1.fade {
    opacity: 1;
    transform: translateY(0px);
}

.head-2 {
    margin-top: 25px;
    font-family: 'Barlow', sans-serif;
    color: black;
    font-size: 120%;
    opacity: 0;
    transition: all 0.7s ease;
    transform: translateY(50px);
}

.head-2.fade {
    opacity: 1;
    transform: translateY(0px);
}

.arrow {
    /* margin-top: auto; */
    position: absolute;
    top: 85%;
    transition: all 0.3s ease;
}

.arrow:hover {
    transform: translateY(-10px);
}

.navbar {
    transition: background 250ms ease-in;
}

.nav-scrolled {
    background: #f4f4f4;    
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
}

span.navbar-brand {
    font-size: 150%;
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
}

.nav-link {
    margin-left: 12px;
    /* font-family: 'Quicksand', sans-serif; */
    font-size: 125%;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
}

.nav-item > .active {
    border-bottom: 2px solid #333;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

